body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #d3eaff, #ffffff);
  padding: 40px;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  background: blueviolet;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.option {
  padding: 14px;
  background-color: paleturquoise;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  border: 2px solid transparent;
  color: black;
}

.option:hover {
  background: #e6e6e6;
}

.correct {
  background: rgb(74, 233, 11) !important;
  border-color:  white!important;
}

.incorrect {
  background: rgb(255, 1, 1) !important;
  border-color: white !important;
}

#next-btn {
  margin-top: 25px;
  padding: 12px 25px;
  background: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

#next-btn:hover {
  background: #005fcc;
}

#score-section {
  text-align: center;
  display: none;
  padding: 20px;
}

#score-section h1 {
  font-size: 45px;
}
